*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Muli;
  src: url(./includes/fonts/muli.light.ttf);
}
@font-face {
  font-family: Nexa_Rust_Extras_Free;
  src: url(./includes/fonts/nexa-rust.extras-free.otf);
}